mat-card {
    margin: 1rem;
    margin-top: 1rem;
    max-width: 80%;
    margin: 0 auto;
}

mat-spinner {
    margin: auto;
}

.post-image {
    width: 100%;
}

.post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}